<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&family=Cinzel&family=Dancing+Script&family=Inter:wght@400;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="../Public/Css/normalize.css" /> -->
    <link rel="stylesheet" href="../Public/Css/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="#" class="logo">Parallax</a>
      <ul class="navList">
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </header>
    <section class="parrallax-home">
      <img src="../Public/pictures/Images/Home-Images/sky.png" alt="" id="" />
      <img src="../Public/pictures/Images/Home-Images/moon.png" alt="" id="moon" />
      <img src="../Public/pictures/Images/Home-Images/water.png" alt="" id="" />
      <img src="../Public/pictures/Images/Home-Images/center-city.png" alt="" id="" />
      <img src="../Public/pictures/Images/Home-Images/right-city.png" alt="" id="" />
      <img src="../Public/pictures/Images/Home-Images/left-city.png" alt="" id="" />
      <img src="../Public/pictures/Images/Home-Images/train.png" alt="" id="train" />
      <img src="../Public/pictures/Images/Home-Images/rail.png" alt="" id="" />
      <h1 id="text">Imagination Beyond Thoughts</h1>
      <img src="../Public/pictures/Images/Home-Images/hill-left-1.png" alt="" id="" />
      <img src="../Public/pictures/Images/Home-Images/hill-right-1.png" alt="" id="" />
    </section>
    <section class="about" id="about">
        <div class="info-box">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, corrupti ullam. Porro, iure! Rerum repudiandae dolores delectus repellat ratione, laborum soluta aperiam itaque, consequuntur libero incidunt ex aliquid aut beatae?</p>
            <a href="#" class="btn">Read More!</a>
        </div>
        <Img src="../Public/pictures/About-Images/waterfall.png" alt="" id="waterfall" class="about-waterfall">
        <img src="../Public/pictures/About-Images/desert-moon.png" alt="" id="desert-moon">
        <img src="../Public/pictures/About-Images/desert-Nosky.png" alt="">
        <img src="../Public/pictures/About-Images/desert-rock.png" alt="">
        <img src="../Public/pictures/About-Images/water.png" alt="">
        <img src="../Public/pictures/About-Images/man.png" alt="" id="man">
        <img src="../Public/pictures/About-Images/grass.png" alt="">
    </section>
    <div id="progress">
        <span id="progress-value">
            <i class='bx bxs-chevrons-up'></i>
        </span>
    </div>
    <section class="products" id="products">
        <h2>Our products</h2>
        <div class="product-card">
            <div class="card">
                <img src="../Public/pictures/products/Salmon.png" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>Salmon</h3>
                        <span>$120</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum iure soluta minima veniam repellendus totam, doloribus doloremque asperiores accusamus perspiciatis eum ut accusantium velit fugiat illo dolorem consequatur neque.</p>
                    <a href="#" class="btn">Go Shop</a>
                </div>
            </div>
            <div class="card">
                <img src="../Public/pictures/products/Tuna.png" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>Tuna</h3>
                        <span>$120</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum iure soluta minima veniam repellendus totam, doloribus doloremque asperiores accusamus perspiciatis eum ut accusantium velit fugiat illo dolorem consequatur neque.</p>
                    <a href="#" class="btn">Go Shop</a>
                </div>
            </div>
            <div class="card">
                <img src="../Public/pictures/products/Swordfish.png" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>Swordfish</h3>
                        <span>$120</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum iure soluta minima veniam repellendus totam, doloribus doloremque asperiores accusamus perspiciatis eum ut accusantium velit fugiat illo dolorem consequatur neque.</p>
                    <a href="#" class="btn">Go Shop</a>
                </div>
            </div>
            <div class="card">
                <img src="../Public/pictures/products/Snapper.png" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>Snapper</h3>
                        <span>$120</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum iure soluta minima veniam repellendus totam, doloribus doloremque asperiores accusamus perspiciatis eum ut accusantium velit fugiat illo dolorem consequatur neque.</p>
                    <a href="#" class="btn">Go Shop</a>
                </div>
            </div>
            
        </div>
        <div class="product-card">
            <div class="card">
                <img src="../Public/pictures/products/Salmon.png" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>Salmon</h3>
                        <span>$120</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum iure soluta minima veniam repellendus totam, doloribus doloremque asperiores accusamus perspiciatis eum ut accusantium velit fugiat illo dolorem consequatur neque.</p>
                    <a href="#" class="btn">Go Shop</a>
                </div>
            </div>
            <div class="card">
                <img src="../Public/pictures/products/Tuna.png" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>Tuna</h3>
                        <span>$120</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum iure soluta minima veniam repellendus totam, doloribus doloremque asperiores accusamus perspiciatis eum ut accusantium velit fugiat illo dolorem consequatur neque.</p>
                    <a href="#" class="btn">Go Shop</a>
                </div>
            </div>
            <div class="card">
                <img src="../Public/pictures/products/Swordfish.png" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>Swordfish</h3>
                        <span>$120</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum iure soluta minima veniam repellendus totam, doloribus doloremque asperiores accusamus perspiciatis eum ut accusantium velit fugiat illo dolorem consequatur neque.</p>
                    <a href="#" class="btn">Go Shop</a>
                </div>
            </div>
            <div class="card">
                <img src="../Public/pictures/products/Snapper.png" alt="">
                <div class="info">
                    <div class="price-name">
                        <h3>Snapper</h3>
                        <span>$120</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse cum iure soluta minima veniam repellendus totam, doloribus doloremque asperiores accusamus perspiciatis eum ut accusantium velit fugiat illo dolorem consequatur neque.</p>
                    <a href="#" class="btn">Go Shop</a>
                </div>
            </div>
            
        </div>
    </section>
    <script src="../Public/Jss/main.js"></script>
  </body>
</html>
